@{
    ViewData["Title"] = "Home Page";
}
<h3>@ViewData["Title"]</h3>

<style>
    body {
        background-image: url('https://caodangtuyenquang.edu.vn/wp-content/uploads/2018/08/nhung-niem-tu-hao-mang-ten-harvard-ngoi-truong-mo-uoc-cua-hang-trieu-sinh-vien-the-gioi-3lvHWLTQS9X2s5B.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
